@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.jm-bg-primary {
    background-color: #223;
}

/* Cambiar el color del outline cuando el toggler está activo */
.navbar-toggler {
    border: none;
    outline: none !important;
    /* Cambia "#ff0000" al color deseado */
}