@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.jm-bg-primary {
    background-color: #222;
}

.jm-bg-secondary {
    background-color: #444 !important;
    color: white !important;
}

.bg-indigo {
    background-color: #6610f2 !important;
    color: white !important;
}

.bg-indigo-light {
    background-color: #7e3af2 !important;
    color: white !important;
}

.text-indigo {
    color: #6610f2;
}

.jm-nav-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}